REDIS_HOST="localhost"
REDIS_PORT=6379

DATABASE_URL=postgresql://<user>:<password>@localhost:<port>/<database>

GITHUB_CLIENT_ID=client_id
GITHUB_CLIENT_SECRET=client_secret
GITHUB_REDIRECT_URI=redirect_uri

INTERNAL_JWT_SECRET=secret
AUTH_SESSION_TTL_MS=600000

CORS_ORIGIN=http://localhost:3000